<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO2 Emission - Machine Learning</title>
</head>
<body>
    <form action="/predict" method="POST">
        <label>Industry Type</label>
        <input type="text" name="type"><br>
        <label>State Population</label>
        <input type="text" name="population"><br>
        <label>GDP per Capita</label>
        <input type="text" name="gdp"><br>
        <label>State Incentive</label>
        <input type="text" name="incentives"><br>
        <label>USDA Energy Invest Unit</label>
        <input type="text" name="invest_unit"><br>
        <label>USDA Energy Invest</label>
        <input type="text" name="invest"><br>
        <label>Renewables Percent</label>
        <input type="text" name="percent"><br>

        <input type="submit">
    </form>
</body>
</html>